{% extends 'master' %}

{% block content %}
<div class="login-page sidebar-collapse animsition">
    <div class="page-header" filter-color="orange">
        <div class="container">
            <div class="content-center">
              <div class="card">
                    <div class="card-header bg-primary">
                            <ul class="nav nav-tabs nav-tabs-neutral">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" role="tab">
                                        Create Endorsement
                                    </a>
                                </li>
                            </ul>
                        </div>
                    <div class="card-body">
                        <form class="form-horizontal" role="form" method="GET" action="submitEndorsement">

                            {{ csrfField }}

                            {% for gc in groupControl %}
                                <input id="endorseTo" name="endorseTo" value={{gc.chairman}} style="display:none;" />
                            {% endfor %}

                            <input id="studentId" name="studentId" value={{currentUser.personal_code}} style="display:none;"/>

                            <div class="col-lg-12">
                                <label for="endorsedBy" class="col-lg-12 control-label">Created by</label>
                                <div class="form-group">
                                    <input id="endorsedBy" type="email" class="form-control" name="endorsedBy" value={{currentUser.email}} disabled>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <label for="endorsedBy" class="col-lg-12 control-label">For Group</label>
                                <div class="form-group">
                                    {% for gc in groupControl %}
                                    <input id="groupId" type="email" class="form-control" name="groupId" value={{gc.groupId}} disabled>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <label for="project" class="col-lg-12 control-label">Description</label>
                                <div class="form-group">
                                    <input id="description" type="text" class="form-control" name="description" placeholder="Describe here..." required/>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <select class="selectpicker" id="endorseType" name="endorseType" data-style="btn btn-primary btn-round btn-md" required>
                                        <option disabled selected>Endorse for</option>
                                        <option value='Panel meeting'>Panel meeting</option>
                                        <option value='Milestone checking'>Milestone checking</option>
                                        <option value='Proposal defense'>Proposal defense</option>
                                        <option value='Final defense'>Final defense</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="project" class="col-lg-12 control-label">Deadline / Meeting</label>
                                    <input type="text" class="form-control datetimepicker" name="deadline" required/>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <textarea id="notes" type="text" class="form-control" name="notes" placeholder="Additional remarks..." rows="3" required></textarea>
                            </div>

                            <div class="footer text-center">
                               <button type="submit" class="btn btn-primary btn-round btn-md">Save</button>
                            </div>



                            {% for gc in groupControl %}
                                <input id="endorseTo" name="endorseTo" value={{gc.chairman}} style="display:none;" />
                            {% endfor %}

                            <input id="studentId" name="studentId" value={{currentUser.personal_code}} style="display:none;"/>

                            <div class="col-lg-12">
                                <label for="endorsedBy" class="col-lg-12 control-label">Created by</label>
                                <div class="form-group">
                                    <input id="endorsedBy" type="email" class="form-control" name="endorsedBy" value={{currentUser.email}} disabled>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <label for="endorsedBy" class="col-lg-12 control-label">For Group</label>
                                <div class="form-group">
                                    {% for gc in groupControl %}
                                    <input id="groupId" type="email" class="form-control" name="groupId" value={{gc.groupId}} disabled>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <label for="project" class="col-lg-12 control-label">Description</label>
                                <div class="form-group">
                                    <input id="description" type="text" class="form-control" name="description" placeholder="Describe here..." required/>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <select class="selectpicker" id="endorseType" name="endorseType" data-style="btn btn-primary btn-round btn-md" required>
                                        <option disabled selected>Endorse for</option>
                                        <option value='Panel meeting'>Panel meeting</option>
                                        <option value='Milestone checking'>Milestone checking</option>
                                        <option value='Proposal defense'>Proposal defense</option>
                                        <option value='Final defense'>Final defense</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="project" class="col-lg-12 control-label">Deadline / Meeting</label>
                                    <input type="text" class="form-control datetimepicker" name="deadline" required/>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <textarea id="notes" type="text" class="form-control" name="notes" placeholder="Additional remarks..." rows="3" required></textarea>
                            </div>

                            <div class="footer text-center">
                               <button type="submit" class="btn btn-primary btn-round btn-md">Save</button>
                            </div>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                    Disclaimer
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, Designed by
                        <a href="#" target="_blank">Jaboy</a>.
                    </div>
                </div>
            </footer>

    </div>
</div>
{% endblock %}
