{% extends 'projects' %}


{% block content %}
<div class="container-fluid">
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 animsition" data-animsition-in-class="fade-in-down-sm" data-animsition-in-duration="800">
		  <div class="panel panel-success">
			<div class="panel-heading">Add Project<a href="/projects" class="pull-right" data-toggle="tooltip" data-placement="top" title="Close"><i class="material-icons">highlight_off</i></a></div>
			  <div class="panel-body">
				<form class="form-horizontal" role="form" method="POST" action="/projects">

					{{ csrfField }}

					<div class="form-group">
						<label for="projName" class="col-md-4 control-label">Project Name</label>
						<div class="col-md-6">
							<input id="projName" type="text" class="form-control" name="projName" required>
						</div>
					</div>
					<div class="form-group">
						<label for="adviser" class="col-md-4 control-label">Adviser</label>
						<div class="col-md-6">
							
                            <select id="adviser" name="adviser" class="selectpicker show-menu-arrow show-tick form-control" data-width="fit" required>
                                {% for adviser in advisers %}
                                
								    <option value={{adviser.email}}>{{adviser.lastname}},&nbsp; {{adviser.firstname}}</option>
								
                                {% endfor %}
							</select>
                     
						</div>					
					</div>
                    <div class="form-group">
						<label for="status" class="col-md-4 control-label">Status</label>
						<div class="col-md-6">
							<select id="status" name="status" class="selectpicker show-menu-arrow show-tick" data-width="fit" required>
								<option value="Active">Active</option>
								<option value="Inactive">Inactive</option>
								<option value="Cancelled">Cancelled</option>	
                                <option value="Completed">Completed</option>
							</select>
						</div>					
					</div>
					<div class="form-group">
						<label for="notes" class="col-md-4 control-label">Notes</label>
						<div class="col-md-6">
							<input id="notes" type="text" class="form-control" name="notes" required>
						</div>					
					</div>
					
					<div class="form-group">
						<div class="col-md-2 col-md-offset-4">
							<button type="submit" class="btn btn-primary">
								Save
							</button>
						</div>						
					</div>
				</form>					
				
			  </div>			
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->	
	</div>
</div>

{% endblock %}
