{% extends 'master' %}

{% block content %}		

	<div class="row">
        <div class="col-lg-6 col-md-12">
            <h3>Faculty Dashboard</h3>
        </div>
    </div>
	<div class="row">
		<div class="col-lg-12 col-md-12 animsition" data-animsition-in-class="fade-in-down-sm" data-animsition-in-duration="700">
			<div class="card card-nav-tabs">
				<div class="card-header" data-background-color="blue">
					<a>
						<h4 class="title"><i class="material-icons">content_paste</i> Recent projects</h4>
					</a>						
				</div>
				<div class="card-content table-responsive">
					{% if currentUser %}
					<table class="table table-hover">
						<thead class="text-warning">
							<th>&nbsp;</th>
							<th>ID</th>
							<th>Project name</th>
							<th>Group</th>
							<th>Created</th>
							<th>Status</th>							
                            <th>Notes</th>
						</thead>
						<tbody>
						
							{% for project in projects %}
								<tr>
									<td><a class="btn btn-white btn-round btn-just-icon"><i class="material-icons">account_circle</i></a></td>
									<td>{{project.id}}</td>
									<td>{{project.projectname}}</td>		
									<td>{{project.groupId}}</td>
									<td>{{project.created_at}}</td>
									<td>{{project.status}}</td>
									<td>{{project.notes}}</td>
								</tr>
							{% endfor %}
							
						</tbody>
					</table>
					{% endif %}
				</div>
				{% if currentUser %}
                    <div class="card-footer">
                        <ul class="list-unstyled">
                            <li class="active">

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addGroup">
                                    <i class="material-icons">wc</i>&nbsp; Add
                                </button>								
                                
                            </li>

                        </ul>					
                    </div>	
                    
                {% endif %}				
			</div>
		</div>
    </div>
	
    <!-- Project Requirements Tab -->	
	<div class="row">
		<div class="col-lg-12 col-md-12 animsition" data-animsition-in-class="fade-in-down-sm" data-animsition-in-duration="800">
			<div class="card">
				<div class="card-header" data-background-color="green">
                    <a>
                        <h4 class="title"><i class="material-icons">content_paste</i> Project Requirements</h4>
                        <p class="category">List of milestones</p>
                    </a>
				</div>
				<div class="card-content table-responsive">
					{% if currentUser %}
					<table class="table table-hover">
						<thead class="text-warning">
							<th>Project #</th>
							<th>Deadline</th>
							<th>Must Have</th>
							<th>Progress (%)</th>
                            <th>&nbsp;</th>
						</thead>
						<tbody>
						
							{% for item in requirements %}
								<tr>
									<td>{{item.projectId}}</td>
									<td>{{item.deadline}}</td>
									<td>{{item.must_have}}</td>
									<td>{{item.milestone}}</td>
                                    <td><a href="/editRequirement">Edit</a></td>
								</tr>
							{% endfor %}
						
						</tbody>
					</table>
					{% endif %}
				</div>
				<div class="card-footer">
					<ul class="list-unstyled">
						<li class="active">						
						    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addRequirements">
                                <i class="material-icons">list</i>&nbsp; Add
                            </button>								
						</li>						
					</ul>
				</div>										
			</div>
		</div>		
	</div>


{% endblock %}					