{% extends 'master' %}

{% block content %}		

<div class="container-fluid">		
    <div class="row">
        <div class="col-lg-12"><h3>Panelist</h3></div>
    </div>
	<div class="row">
		<div class="col-lg-6 col-md-12 animsition" data-animsition-in-class="fade-in-down-sm" data-animsition-in-duration="700">
			<div class="card card-nav-tabs">
				<div class="card-header" data-background-color="orange">
					<a>
						<h4 class="title"><i class="material-icons">recent_actors</i> Advisers</h4>							
						<p class="category">Advisers' list</p>
					</a>						
				</div>
				<div class="card-content table-responsive">
                    {% if currentUser %}
					<table class="table table-hover">
                            <thead class="text-warning">
                                <th>ID</th>
                                <th>Lastname</th>
                                <th>Firstname</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>&nbsp;</th>
                            </thead>
                            <tbody>

                                {% for adviser in advisers %}
                                    <tr>
                                        <td>{{adviser.id}}</td>
                                        <td>{{adviser.lastname}}</td>
                                        <td>{{adviser.firstname}}</td>
                                        <td>{{adviser.email}}</td>
                                        <td>{{adviser.status}}</td>
                                        <td><a href="/editPanel"></a></td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    {% endif %}
                    
                    {% if not currentUser %}
                        <a class="text-warning">You are not allowed to view this table</a>
                    
                    {% endif %}
				</div>
                {% if currentUser %}
                    <div class="card-footer">
                        <ul class="list-unstyled">
                            <li class="active">
                                <form method="POST" action="/addAdviser">
                                    {{ csrfField }}
                                    <button type="submit" class="btn btn-primary">
                                        <i class="material-icons">wc</i>&nbsp; Add
                                    </button>							
                                </form>		
                            </li>

                        </ul>					
                    </div>		
                {% endif %}
			</div>
		</div>
        <div class="col-lg-6 col-md-12 animsition"  data-animsition-in-class="fade-in-down-sm" data-animsition-in-duration="800">
			<div class="card">
				<div class="card-header" data-background-color="purple">
                    <a>
                        <h4 class="title"><i class="material-icons">group</i> Panelist</h4>
                        <p class="category">Panel list</p>
                    </a>
				</div>
				<div class="card-content table-responsive">
                    {% if currentUser %}
					<table class="table table-hover">
						<thead class="text-warning">
							<th>Project ID</th>
                            <th>Adviser's Email</th>
                            <th>Status</th>
						</thead>
						<tbody>
                            {% for adviser in panelist %}
							<tr>
								<td>{{adviser.projectid}}</td>
								<td>{{adviser.email}}</td>
								<td>{{adviser.status}}</td>
							</tr>
                            {% endfor %}
						</tbody>
					</table>
                    {% endif %}
				</div>
                {% if currentUser %}
				<div class="card-footer">
					<ul class="list-unstyled">
						<li class="active">

                                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#addPanel">
									<i class="material-icons">wc</i>&nbsp; Add
								</button>

						</li>						
					</ul>
				</div>	
                {% endif %}
			</div>
		</div>
    </div>		
    <div class="row">
		<div class="col-lg-12 animsition" data-animsition-in-class="fade-in-down-sm" data-animsition-in-duration="900">
			<div class="card card-nav-tabs">
				<div class="card-header" data-background-color="blue">
					<a>
						<h4 class="title"><i class="material-icons">content_paste</i> Projects</h4>							
						<p class="category">List of projects</p>
					</a>						
				</div>
				<div class="card-content table-responsive">
                    {% if currentUser %}
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>ID</th>
                                <th>Project Name</th>
                                <th>Adviser</th>
                                <th>Created</th>
                                <th>Status</th>
                                <th>Notes</th>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                    <tr>
                                        <td>{{project.id}}</td>
                                        <td>{{project.projectname}}</td>
                                        <td>{{project.adviser}}</td>
                                        <td>{{project.created_at}}</td>
                                        <td>{{project.status}}</td>
                                        <td>{{project.notes}}</td>
                                    </tr>

                                {% endfor %}

                            </tbody>
                        </table>
                    {% endif %}
                    
                    {% if not currentUser %}
                        <a class="text-warning">You are not allowed to view this table</a>
                    
                    {% endif %}    
				</div>
								
			</div>
		</div>		
	</div>
</div>	

{% endblock %}					