{% extends 'master' %}

{% block content %}
	<div class="wrapper">
		<div class="page-header clear-filter" filter-color="orange">
		<div class="page-header-image" data-parallax="true"></div>
			<div class="container">
				<div class="row" style="padding-top:90px">
					<div class="col-md-12 animsition" data-animsition-in-class="fade-in-down-sm" data-animsition-in-duration="500">
						<div class="row">
							<div class="col-lg-5">
								<h4 class="category">Faculty Dashboard | Coordinator</h4>
							</div>
                            <div class="col-lg-2">
                                <div class="dropdown">
                                    <a href="#pablo" class="btn btn-primary btn-round dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink1">
                                        <strong> More options</strong>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                        <a class="dropdown-item" href="/adviserDashboard">Adviser page</a>
                                        <a class="dropdown-item" href="#">Panelist page</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Create groups</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Create notification</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Create Must Have (Project Requirements)</a>
                                    </ul>

                                </div>

                            </div>
						</div>

						<!--Adviser Projects Tables Start-->
						<div class="card">
							<div class="card-header bg-primary">
								<ul class="nav nav-tabs nav-tabs-neutral">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" role="tab">
										Recent endorsements from Adviser
										</a>
									</li>
								</ul>
							</div>
                            <div class="card-body">
                                <table class="table table-hover table-responsive">
                                {% if currentUser %}
                                    <thead class="text-primary">
                                        <th><strong>Group</strong></th>
                                        <th><strong>Proposal</strong></th>
                                        <th><strong>Endorsed By</strong></th>
                                        <th><strong>Endorse Date</strong></th>
                                        <th><strong>Remarks</strong></th>
                                        <th><strong>Status</strong></th>
                                    </thead>
                                    <tbody>
                                        {% for item in endorse %}
                                        <tr class="text-black">
                                            <td>{{item.groupId}}</td>
                                            <td>{{item.description}}</td>
                                            <td>{{item.endorseBy}}</td>
                                            <td>{{item.created_at}}</td>
                                            <td>{{item.notes}}</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>

						<!--Adviser Projects Tables End-->

						<!-- Project Requirements Tab Start-->
						<div class="card">
							<div class="card-header bg-primary">
								<ul class="nav nav-tabs nav-tabs-neutral">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" role="tab">
										content_paste | Project Requirements | List of milestones
										</a>
									</li>
								</ul>
							</div>
						<div class="card-body">
							<table class="table table-hover table-responsive">
							{% if currentUser %}
								<thead class="text-primary">
									<th>&nbsp;</th>
									<th><strong>Project #</strong></th>
									<th><strong>Deadline</strong></th>
									<th><strong>Must Have</strong></th>
									<th><strong>Must Have</strong></th>
									<th><strong>Progress (%)</strong></th>
									<th>&nbsp;</th>
								</thead>
								<tbody>
									{% for item in requirements %}
									<tr>
										<td>{{item.projectId}}</td>
										<td>{{item.deadline}}</td>
										<td>{{item.must_have}}</td>
										<td>{{item.milestone}}</td>
										<td><a href="/editRequirement">Edit</a>Edit</td>
									</tr>
									{% endfor %}
								</tbody>
								{% endif %}
							</table>
						</div>
						{% if currentUser %}
						<div class="footer">
							<ul class="list-unstyled">
								<li class="active">
									<button type="button" class="btn btn-primary btn-round btn-md"  data-toggle="modal" data-target="#addRequirements">
										<i class="material-icons">list</i>&nbsp; Add
									</button>
								</li>
							</ul>
						</div>
						{%endif%}
						</div>
						<!-- Project Requirements Tab End-->
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
