{% extends 'master' %}

{% block content %}		

<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image" data-parallax="true"></div>   
        <div class="container">         
            <div class="row" style="padding-top:90px">
                <div class="col-md-12 animsition" data-animsition-in-class="fade-in-down-sm" data-animsition-in-duration="500">
                    
                    {% if currentUser %}
                        {% if user %}
                            {% for gc in groupControl %}    
                                <ul class="nav nav-tabs nav-tabs-neutral">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" role="tab">
                                            {{gc.groupName}}&nbsp;|&nbsp;{{gc.clSched}}&nbsp;|&nbsp;Coordinator: {{gc.coordinator}}&nbsp;|&nbsp;Adviser:&nbsp;{{gc.adviser}}
                                        </a>	
                                    </li>
                                </ul>
                            {% endfor %}
                        {% else %}
                            <form method="GET" action="joinGroup">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <div class="input-group form-group-no-border input-md">
                                            <span class="input-group-addon">
                                                <i class="fa fa-group"></i>
                                            </span>
                                            <select id="groupControl" name="groupControl" data-style="btn  btn-rimary btn-round" class="form-control" required>
                                                {% for gc in groupControl %}
                                                    <option value={{gc.groupId}}>{{gc.groupName}}&nbsp;/&nbsp;{{gc.clSched}}&nbsp;/&nbsp;{{gc.coordinator}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </li>
                                    <li class="nav-item">&nbsp;&nbsp;</li>
                                    <li class="nav-item">
                                        <div class="input-group form-group-no-border input-md">
                                            <span class="input-group-addon">
                                                <i class="fa fa-key"></i>
                                            </span>
                                            <input class="form-control" name="groupKey" id="groupKey" placeholder="Valid Group Key..." value="{{old('groupKey')}}" required/>
                                        </div>
                                        <div>{{grpKeyError}}</div>
                                    </li>
                                    <li class="nav-item">&nbsp;&nbsp;</li>
                                    <li class="nav-item">
                                        <button type="submit" class="btn btn-primary btn-round btn-sm" data-toggle="modal">
                                            Join group
                                            <div class="ripple-container"></div>
                                        </button>		

                                    </li>
                                </ul>                    
                            </form>
                        {% endif %}
                    
                                           
                    {% endif %}                  
                    
                    {% if currentUser %}
                        {% if user %}
                            <p class="category">Group Dashboard</p>
                            <div class="card">
                                <div class="card-header" data-background-color="orange">
                                    <ul class="nav nav-tabs nav-tabs-neutral">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" role="tab">
                                                Group Info | members list
                                            </a>	
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <table class="table table-hover table-md table-responsive">
                                        <thead class="text-warning">
                                            <th>Member ID</th>
                                            <th>Project ID</th>
                                            <th>Lastname</th>
                                            <th>Firstname</th>
                                            <th>Status</th>
                                            <th>&nbsp;</th>
                                        </thead>
                                        {% for member in group %}                                       <tbody>                                        
                                                <tr class="text-black">
                                                    <td>{{member.id}}</td>
                                                    <td>{{member.projectId}}</td>
                                                    <td>{{member.lastname}}</td>		
                                                    <td>{{member.firstname}}</td>
                                                    <td>{{member.status}}</td>
                                                    <td> 
                                                        <form method="GET" action="/editGroup">
                                                            <input name="projectId" value="{{member.projectId}}" style='display:none'>
                                                            <input name="id" value="{{member.id}}" style='display:none'>
                                                            <input name="lastname" value="{{member.lastname}}" style='display:none'>
                                                            <input name="firstname" value="{{member.firstname}}" style='display:none'>
                                                            <input name="status" value="{{member.status}}" style='display:none'>
                                                            <button type="submit" class="btn btn-xs btn-round" data-toggle="tooltip" data-placement="right" title="Edit" data-animation="true" data-delay="100">
                                                                <i class="fa fa-pencil-square-o"></i>
                                                                <div class="ripple-container"></div>
                                                            </button>	
                                                        </form>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        {% endfor %}      
                                    </table>
                                </div>                        
                                <div class="card-footer">
                                    <ul class="list-unstyled">
                                        <li class="active">
                                            <button type="button" class="btn btn-primary btn-round btn-md" data-toggle="modal" data-target="#createProposal">
                                                <i class="fa fa-address-book-o"></i>&nbsp; Create Proposal
                                                <div class="ripple-container"></div>
                                            </button>				
                                        </li>
                                    </ul>					
                                </div>
                            </div>
                            
                            <div class="card">
  
                                <div class="card-header" data-background-color="orange">
                                    <ul class="nav nav-tabs nav-tabs-neutral">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" role="tab">
                                               Project Proposal
                                            </a>	
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                  
                                    <table class="table table-hover table-md table-responsive">
                                        <thead class="text-warning">
                                            <th>Proposal Idea</th>
                                            <th>Endorse type</th>
                                            <th>Endorse by</th>
                                            <th>Endorse to</th>
                                            <th>Created</th>
                                            <th>Approved?</th>
                                            <th>Remarks</th>
                                            <th>&nbsp;</th>
                                        </thead>
                                        {% for e in endorse %}
                                            <tbody>
                                                <tr class="text-black">
                                                    <td>{{e.description}}</td>
                                                    <td>{{e.endorseType}}</td>
                                                    <td>{{e.endorseBy}}</td>	
                                                    <td>{{e.endorseTo}}</td>
                                                    <td>{{e.created_at}}</td>
                                                    <td>{{e.Confirmed}}</td>
                                                    <td>{{e.notes}}</td>
                                                    <td> 
                                                        <form method="GET" action="/editEndorse">
                                                            <input name="projectId" value="{{member.projectId}}" style='display:none'>
                                                            <input name="id" value="{{member.id}}" style='display:none'>
                                                            <input name="lastname" value="{{member.lastname}}" style='display:none'>
                                                            <input name="firstname" value="{{member.firstname}}" style='display:none'>
                                                            <input name="status" value="{{member.status}}" style='display:none'>
                                                            <button type="submit" class="btn btn-xs btn-white btn-round" data-toggle="tooltip" data-placement="right" title="Edit" data-container="body" data-animation="true" data-delay="100">
                                                                <i class="fa fa-pencil-square-o"></i>
                                                                <div class="ripple-container"></div>
                                                            </button>	
                                                        </form>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        {% endfor %}   
                                    </table>

                                </div>
    
                            </div>
                        {% endif %}
                    {% endif %}				                                            
                </div>
            </div>
            
            {% if gc.id %}
            <!-- Project Requirements Tab -->
            <div class="row">

                <div class="col-md-12 animsition" data-animsition-in-class="fade-in-down-sm" data-animsition-in-duration="800">
                    <p class="category">Project Requirements</p>
                    <div class="card">
                        <div class="card-header" data-background-color="orange">
                            <ul class="nav nav-tabs nav-tabs-neutral">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" role="tab">
                                        Must haves
                                    </a>	
                                </li>

                            </ul>
                        </div>
                        <div class="card-body">
                            {% if currentUser %}
                                <table class="table table-hover table-md table-striped table-responsive">
                                    <thead class="text-warning">
                                        <th>Project ID</th>
                                        <th>Due date</th>
                                        <th>Must Have</th>
                                        <th>Percentage</th>
                                        <th>Remarks</th>
                                        <th>Created</th>
                                    </thead>
                                    <tbody>

                                        {% for item in requirements %}
                                            <tr class="text-black">
                                                <td>{{item.projectId}}</td>
                                                <td>{{item.deadline}}</td>
                                                <td>{{item.must_have}}</td>
                                                <td>{{item.milestone}}</td>
                                                <td>{{item.notes}}</td>
                                                <td>{{item.created_at}}</td>
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                        
                        <!--<div class="card-footer">
                            <ul class="list-unstyled">
                                <li class="active">						
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addRequirements">
                                        <i class="material-icons">list</i>&nbsp; Add
                                    </button>								
                                </li>						
                            </ul>
                        </div>-->
                    </div>
                </div>		
            </div>
            {% endif %}
        </div>    
    </div>    
</div>

<!-- add Group -->
<div class="modal fade" id="createProposal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Proposal</h5>
                <a class="nav nav-link nav-pills nav-pills-success" 
                   data-dismiss="modal" data-toggle="tooltip" aria-haspopup="true" aria-expanded="true" title="Close"><i class="now-ui-icons ui-1_simple-remove"></i>
                </a>                    
            </div>          
            
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="POST" action="/submitProposal">

                    {{ csrfField }}

                    {% for gc in groupControl %}   
                        <input id="endorseTo" name="endorseTo" value={{gc.adviser}} style="display:none;" />
                        <input id="groupId" name="groupId" value={{gc.groupId}} style="display:none;" />
                    {% endfor %}
                    
                    <input id="studentId" name="studentId" value={{currentUser.personal_code}} style="display:none;"/>

                    <div class="col-lg-12">
                        <label for="endorsedBy" class="col-lg-12 control-label">Created by</label>
                        <div class="form-group">
                            <input id="endorsedBy" type="email" class="form-control" name="endorsedBy" value={{currentUser.email}} disabled>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <label for="project" class="col-lg-12 control-label">Description</label>       
                        <div class="form-group">
                            <input id="description" type="text" class="form-control" name="description" placeholder="Describe your proposal..." required/>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <select class="form-control" id="endorseType" name="endorseType" required>
                                <option disabled selected>Submit to?</option>
                                <option value='Submit Project Proposal'>Submit Project Proposal</option>
                                <option value='Endorse to Coordinator'>Endorse to Coordinator</option>
                                <option value='For Panel Meeting'>For Panel Meeting</option>
                            </select>
                        </div>        
                    </div>
                    
                    <div class="col-lg-12">
                        <textarea id="notes" type="text" class="form-control" name="notes" placeholder="Additional remarks..." rows="3" required></textarea>
                    </div>

                    <div class="footer text-center">
                       <button type="submit" class="btn btn-primary btn-round btn-md">Save</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}	

				