{% extends 'master' %}

{% block content %}
<div class="login-page sidebar-collapse animsition">
    <div class="page-header" filter-color="orange">
        <div class="container">
            <div class="content-center">
              <div class="card">
                    <div class="card-header" data-background-color="orange">
                        <h5 class="card-title">Edit member</h5>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" role="form" method="POST" action="/updateMember">

                            {{ csrfField }}

                            {% for member in group %}

                                <div class="form-group">
                                    <label for="groupname" class="text-muted">First name</label>
                                    <div class="col-md-12">
                                        <input id="firstname" type="text" class="form-control" name="firstname" value="{{member.firstname}}" required>
                                    </div>
                                </div>
                                <div class="form-group"> 
                                    <label for="lastname" class="col-md-10 text-muted">Last name</label>
                                    <div class="col-md-12">
                                        <input id="lastname" type="text" class="form-control" name="lastname" value="{{member.lastname}}" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-md-10 text-muted">Status</label>
                                    <div class="col-md-12">
                                        <select id="status" name="status" class="form-control show-menu-arrow show-tick" data-width="fit" required>
                                            <option value="active">Active</option>
                                            <option value="inactive">Inactive</option>
                                            <option value="removed">Removed</option>
                                        </select>
                                    </div>
                                </div>

                            {% endfor%}

                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-round btn-md">
                                        <i class="fa fa-btn fa-sign-in">&nbsp;</i> Save
                                    </button>
                                    <a href="/dashboard" class="btn btn-primary btn-round btn-md">
                                        <i class="fa fa-btn fa-sign-out">&nbsp;</i> Cancel
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="#">
                                Disclaimer
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, Designed by
                    <a href="#" target="_blank">Jaboy</a>.
                </div>
            </div>
        </footer>

    </div>
</div>
{% endblock %}
